name: rust ci + cd

permissions:
  contents: write

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
  workflow_dispatch:

jobs:
  format_clippy:
    name: format and clippy the project
    runs-on: ubuntu-24.04
    steps:
      - name: checkout the code
        uses: actions/checkout@v4
        
      - name: update the rust toolchain
        run: rustup update stable

      - name: format the codebase with verbosity
        run: cargo fmt --verbose

      - name: clippy the codebase with verbosity and warning denial
        run: cargo clippy --verbose -- -D warnings

  check_version:
    needs:
      format_clippy
    name: check the local and remote version from crates.io
    runs-on: ubuntu-24.04
    outputs:
      version: ${{ steps.version.outputs.version }}
      
    steps:
      - name: checkout the code
        uses: actions/checkout@v4

      - name: check the version
        id: version
        shell: pwsh
        run: ./.github/scripts/check_version.ps1
  
  build_test_upload:
    name: build and test the project, uploading the artifacts
    needs:
      - format_clippy
      - check_version
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os:
          - windows-2025
          - windows-11-arm
          - ubuntu-24.04
          - ubuntu-24.04-arm
          - macos-15
          - macos-15-intel

    steps:
      - name: checkout the code
        uses: actions/checkout@v4

      - name: update the rust toolchain
        run: rustup update stable

      - name: build with verbosity and release mode via cargo
        run: cargo build --verbose --release

      - name: test with verbosity and release mode via cargo
        run: cargo test --verbose --release

      - name: upload artifacts
        if: needs.check_version.outputs.version != ''
        uses: actions/upload-artifact@v4
        with:
          name: ${{ matrix.os }}
          path: |
            target/release/qqg
            target/release/qqg.exe

  release_publish:
    name: release the project on github releases and publish the project to crates.io
    needs:
      - check_version
      - format_clippy
      - build_test_upload
    runs-on: ubuntu-24.04
    steps:
      - name: download artifacts
        if: needs.check_version.outputs.version != ''
        uses: actions/download-artifact@v4
        with:
          path: dist/
          merge-multiple: true

      - name: create artifacts
        if: needs.check_version.outputs.version != ''
        shell: pwsh
        run: ./.github/scripts/create_artifacts.ps1
      
      - name: release to github releases
        if: needs.check_version.outputs.version != ''
        uses: softprops/action-gh-release@v1
        with:
          tag_name: ${{ needs.check_version.outputs.version }}
          name: release ${{ needs.check_version.outputs.version }}
          files: dist/*
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      
      - name: publish to crates.io
        if: needs.check_version.outputs.version != ''
        run: cargo publish
        env:
          CARGO_REGISTRY_TOKEN: ${{ secrets.CARGO_TOKEN }}
